<div class="text-center">
<h2 class="jumbotron"> User Register </h2>
</div>
<div class="row">
<div class="col-md-7">

<form #registerForma="ngForm"  >
 <div class="form-group">
<label>User Name </label>


<input class="form-control"   placeholder="nom de l 'utilisateur" type="text" [(ngModel)]="user.username" id="username" name="username" required />
</div> 
<div class="form-group">
<label>Password </label>
<input class="form-control"  placeholder="mot de de passe" [(ngModel)]="user.password" id="name"  type="password" name="user.password" required />
</div>
<div class="form-group">
<label>Re-Password</label>
<input class="form-control" placeholder="retaper le mot de passe" [(ngModel)]="user.repassword" id="repassword"  type="password" name="user.repassword" required />
</div>


<div class="form-group">
<button class="btn btn-default" type="submit" (click)="UpdateUser(user)"    >Promote to Admin</button>
<button class="btn btn-default" type="button" (click)="onSubmitUserAdmin(user)"  [disabled]="!registerForma.valid"   >Sauvgarde</button>
<button class="btn btn-default" type="button" (click)="ResetFormRegister(registerForm)" >Effacer </button>

</div>
</form>



<table class="table table-striped">
<tr>
<th>ID</th><th>user Name</th><th>User Roles</th><th align="center">Action</th>

<tr *ngFor="let user of users">

<td>{{user.id}}</td>
<td>{{user.username}}</td>
<td>{{user.roles}}</td>
<td><a href="javascript:void(0)" (click)="editUser(user.username)"><i class="fa fa-eye" aria-hidden="true"></i></a> <a href="javascript:void(0)" (click)="deletevlan(vlan.id)" ><i class="fa fa-trash" aria-hidden="true"></i></a> </td>
</tr>
</table>

</div>

</div>
