<div class="container">
<div class="panel panel-primary" >
<div class="panel-heading">Auhtentification</div>
<div class="panel-body">
<form #f="ngForm"  (ngSubmit)="onLogin(f.value)"  >
<div class="form-group">
<label class="form-control">UserName:</label>
<input ngModel=""  type="text" name="username" required/>


</div>
<div class="form-group">
<label class="form-control">Password:</label>
<input ngModel=""  type="password" name="Password" required/>


</div>
<button type="submit" class="btn btn-danger">Login</button>
<button type="submit" class="btn btn-success">Register</button>

</form>

</div>
</div>

</div>